<%= form_for @meal do |m| %>
  <div class="row">
    <%= m.label :name, "料理名稱" %>
    <%= m.text_field :name %>
    <%= m.label :calory, "卡路里　單位：（大卡）" %>
    <%= m.number_field :calory %>
    <%= m.label :protein, "蛋白質　單位：（公克）"%>
    <%= m.number_field :protein %>
    <%= m.label :vitaminA6, "維生素A6　單位：（微克）"%>
    <%= m.number_field :vitaminA6 %>
    <%= m.label :vitaminD7, "維生素D7　單位：（微克）"%>
    <%= m.number_field :vitaminD7 %>
    <%= m.label :vitaminE8, "維生素E8　單位：（毫克）"%>
    <%= m.number_field :vitaminE8 %>
    <%= m.label :vitaminK, "維生素K　單位：（微克）"%>
    <%= m.number_field :vitaminK %>
    <%= m.label :vitaminC, "維生素C　單位：（毫克）"%>
    <%= m.number_field :vitaminC %>
    <%= m.label :vitaminB1, "維生素B1　單位：（毫克）"%>
    <%= m.number_field :vitaminB1%>
    <%= m.label :vitaminB2, "維生素B2　單位：（毫克）"%>
    <%= m.number_field :vitaminB2%>
    <%= m.label :vitaminB3, "菸鹼素　單位：（毫克）"%>
    <%= m.number_field :vitaminB3%>
    <%= m.label :vitaminB6, "維生素B6　單位：（毫克）"%>
    <%= m.number_field :vitaminB6%>
    <%= m.label :vitaminB12,"維生素B12　單位：（微克）"%>
    <%= m.number_field :vitaminB12%>
    <%= m.label :vitaminB9,"葉酸　單位：（微克）"%>
    <%= m.number_field :vitaminB9%>
    <%= m.label :cholic_acid,"膽素　單位：（毫克）" %>
    <%= m.number_field :cholic_acid%>
    <%= m.label :bionic_acid,"生物素　單位：（微克）"%>
    <%= m.number_field :bionic_acid%>
    <%= m.label :vitaminB5,"泛酸　單位：（毫克）"%>
    <%= m.number_field :vitaminB5%>
    <%= m.label :calcuim,"鈣　單位：（毫克）"%>
    <%= m.number_field :calcuim%>
    <%= m.label :phosphorus,"磷　單位：（毫克）"%>
    <%= m.number_field :phosphorus%>
    <%= m.label :magnesium,"鎂　單位：（毫克）"%>
    <%= m.number_field :magnesium%>
    <%= m.label :iron,"鐵　單位：（毫克）"%>
    <%= m.number_field :iron%>
    <%= m.label :zinc,"鋅　單位：（毫克）"%>
    <%= m.number_field :zinc%>
    <%= m.label :iodine,"碘　單位：（微克）"%>
    <%= m.number_field :iodine%>
    <%= m.label :selenium,"硒　單位：（微克）"%>
    <%= m.number_field :selenium%>
    <%= m.label :fluorine,"氟　單位：（毫克）"%>
    <%= m.number_field :fluorine%>

    <a><%= m.submit "完成" ,class:"btn" %></a>
  </div>
<% end %>
