<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="navbar-header">
      <a href="/" class="navbar-brand text-center"><%= @page_title || "營養運動管理系統" %></a>
    </ul>

    <% if current_user %>
      <ul class="nav navbar-nav navbar-right" role="navigation">
        <p class="navbar-text">Signed in as <%= current_user.email %></p>
        <%= link_to("登出", destroy_user_session_path, :method=> :delete, :class=> "btn btn-link navbar-btn") %>
      </ul>
    <% elsif current_user2 %>
      <ul class="nav navbar-nav navbar-right" role="navigation">
        <p class="navbar-text">Signed in as <%= current_user2.email %></p>
        <%= link_to("登出", destroy_user2_session_path, :method=> :delete, :class=> "btn btn-link navbar-btn") %>
      </ul>
    <% elsif current_user3 %>
      <ul class="nav navbar-nav navbar-right" role="navigation">
        <p class="navbar-text">Signed in as <%= current_user3.email %></p>
        <%= link_to("登出", destroy_user3_session_path, :method=> :delete, :class=> "btn btn-link navbar-btn") %>
      </ul>
  <% end %>
    </ul>

<%- output = false -%>
<% if output %>
  <% if current_user %>
    <ul class="side-nav" id="slide-out">
      <li><%= current_user.email %><b class="caret"></b></li>
      <li> <%= link_to("登出", destroy_user_session_path, :method=> :delete) %> </li>
    </ul>
  <% elsif current_user2 %>
    <ul class="side-nav" id="slide-out">
      <li><%= current_user2.email %><b class="caret"></b></li>
        <li> <%= link_to("登出", destroy_user2_session_path,:method=> :delete) %> </li>
    </ul>
  <% elsif current_user3 %>
    <ul class="side-nav" id="slide-out">
      <li><%= current_user3.email %><b class="caret"></b></a></li>
        <li> <%= link_to("登出", destroy_user3_session_path,:method=> :delete) %> </li>
    </ul>
  <% end %>
<% end %>
  </div>
</nav>
