<nav class="navbar navbar-default">
  <div>
    <a href="/" class="brand-logo"><%= @page_title || "營養運動管理系統" %></a>
    <% if current_user||current_user2||current_user3  %>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <% end %>
    <% if current_user %>
      <ul class="right hide-on-med-and-down">
        <li><%= current_user.email %><b class="caret"></b></li>
        <li> <%= link_to("登出", destroy_user_session_path, :method=> :delete) %> </li>
      </ul>
    <% elsif current_user2 %>
      <ul class="right hide-on-med-and-down">
        <li><%= current_user2.email %><b class="caret"></b></li>
          <li> <%= link_to("登出", destroy_user2_session_path,:method=> :delete) %> </li>
      </ul>
    <% elsif current_user3 %>
      <ul class="right hide-on-med-and-down">
        <li><%= current_user3.email %><b class="caret"></b></a></li>
          <li> <%= link_to("登出", destroy_user3_session_path,:method=> :delete) %> </li>
      </ul>
  <% end %>
    </ul>
  <% if current_user %>
    <ul class="side-nav" id="slide-out">
      <li><%= current_user.email %><b class="caret"></b></li>
      <li> <%= link_to("登出", destroy_user_session_path, :method=> :delete) %> </li>
    </ul>
  <% elsif current_user2 %>
    <ul class="side-nav" id="slide-out">
      <li><%= current_user2.email %><b class="caret"></b></li>
        <li> <%= link_to("登出", destroy_user2_session_path,:method=> :delete) %> </li>
    </ul>
  <% elsif current_user3 %>
    <ul class="side-nav" id="slide-out">
      <li><%= current_user3.email %><b class="caret"></b></a></li>
        <li> <%= link_to("登出", destroy_user3_session_path,:method=> :delete) %> </li>
    </ul>
  <% end %>
  </div>
</nav>
