<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= @page_title || "營養運動管理系統" %></title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'navbar', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application' , media: "all" %>
    <%= csrf_meta_tags %>
    <%= render "common/header" %>
  </head>
  <body>

  <%= yield %>

  </body>
  <footer>
  </footer>
</html>
