<h2>編輯</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :密碼 %> <i>(如果不修改請空白)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :確認密碼 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :當前密碼 %> <i>(需要當前密碼確認修改資訊)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :餐廳名稱 %><br />
    <%= f.text_field :resturant_name %>
  </div>

  <div class="field">
    <%= f.label :餐廳地址 %><br />
    <%= f.text_field :resturant_address %>
  </div>


  <div class="actions">
    <%= f.submit "確認修改" ,:class => 'btn waves-effect waves-light'%>
  </div>

<% end %>

<%= link_to "回上一頁", :back %>
